<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
<<<<<<< HEAD
  <strong>Eamil:</strong>
  <%= @user.eamil %>
=======
  <strong>Email:</strong>
  <%= @user.email %>
>>>>>>> 473be30ddcd17e4ad69d26185b1e2ed3c093208f
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
