<h1>Listing posts</h1>
<<<<<<< HEAD
    <% @posts.each do |post| %>
      <div class="panel panel-default">
        <div class="panel-heading">
            <%= post.title %>
            <p class="navbar-text navbar-right">Published at <%= time_ago_in_words(post.created_at) %> by <%= post.user.name %></p>
        </div>
        <div class="panel-body">
          <%= post.text %>
        </div>
        <span class="label label-info"><%= link_to 'Show', post %></span>
        <span class="label label-info"><%= link_to 'Edit', edit_post_path(post) %></span>
        <span class="label label-info"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
        
  <% end %>
=======

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
>>>>>>> 473be30ddcd17e4ad69d26185b1e2ed3c093208f

<br>

<%= link_to 'New Post', new_post_path %>
